body {
    background-color: #F2F2F2;
}

#content{
	background-color:white;
	border:solid 3px #E1E1E1;
}


.course-img{
	border:solid 2px #E1E1E1;
}

.hoverDiv {background: #fff;}
.hoverDiv:hover {background: #f5f5f5;}