{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="row-fluid" style="text-align:center;">
		<h3 >{{instructor.first_name}} {{instructor.last_name}}</h3>
		<h5><a href="/university/{{instructor.university.id}}"> {{instructor.university.name}}</a></h5>
	</div>

	<hr>
	<br>

	<div class="row-fluid">
		<div class="span9"  style="padding: 0px 10px 40px 10px;">
			<h3>Introduction</h3> <br>
			<p>{{instructor.details}}</p>
		</div>

		<div class="span3" style="padding:0px 10px 0px 10px;">
			<h3>Courses</h3> <br>
			{% for course in course_list %}
				<div class="hoverDiv" style="padding:10px 0px 10px 0px ;">
					<a href="/course/{{course.course.short_name}}">
						<img src="/static/img/group10/{{course.course.image_link}}" width="200" class="course-img"><br><br>
						{{course.course.name}}<br>
					</a>
					{{course.course.start_date}}<br>

				</div>
			{% endfor %}	
			
		</div>
	</div>
{% endblock %}