<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="language" content="us_EN" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Group10 Technologies</title>
        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static "css/vendor/bootstrap/bootstrap.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/vendor/bootstrap/bootstrap-responsive.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/vendor/jquery-ui/jquery-ui.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/group10/main.css" %}"/>
    </head>
    <body>
        <div id="logo">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar icon-white-bar"></span>
                            <span class="icon-bar icon-white-bar"></span>
                            <span class="icon-bar icon-white-bar"></span>
                        </a>
                        <span class="brand brand-font"><a href="/courses" class="brand"><img src="{% static "img/group10/coursera.png" %}"></a></span><br>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li><a href="/courses"> Courses</a></li>
                                <li><a href="/university"> Institutions</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/about"><span class="icon-off icon-white"></span> Overview</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="content" class="container" >{% block content %} {% endblock %}</div>
        <div id="footer" class="container" style="padding:20px 20px 20px 80px;">
            <div class="row-fluid">
                <div class="span5">
                    <img src="{% static "img/group10/coursera.png" %}"><br><br>
                    <p style="font-size:16px;">Coursera provides universal access to the world’s best education, partnering with top universities and organizations to offer courses for anyone to take, for free. </p><br><br>

                    © 2014 Coursera Inc. All rights reserved.             
                </div>
                <div class="span3 pull-right">
                    <p>
                        <span style = "font-size:18px">Connect</span><br><br>
                        <a href = "https://plus.google.com/+Coursera">Google+</a><br><br>
                        <a href = "http://facebook.com/Coursera">Facebook</a><br><br>
                        <a href = "https://twitter.com/coursera">Twitter</a><br><br>
                        <a href = "http://blog.coursera.org/">Blog</a><br><br>
                </div>
                <div class="span2 pull-right">
                    <div class="row-fluid">
                        <p>
                            <span style = "font-size:18px">COMPANY</span><br><br>
                            <a href = "/about" >About</a><br><br>
                            <a href = "/university">Partners</a><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
        <script type="text/javascript" src="{% static "js/vendor/jquery/jquery-1.9.1.min.js" %}" ></script>            
        <script type="text/javascript" src="{% static "js/vendor/bootstrap/bootstrap.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/vendor/jquery/jquery-ui.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/vendor/bootstrap/bootstrap-inputmask.min.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/main.js" %}" ></script>
        <script type="text/javascript">
            var course_list = {{course_list|safe}}
        </script>
</html>